.background-pane{
    -fx-background-color: #3f3f3f;
}


.login-password-field, .login-username-field {
    -fx-background-color: #009488;;
    -fx-border-color: rgb(100, 100, 100);
    -fx-background-radius: 0;  
    -fx-border-radius: 0;
    -fx-border-width: 1px;
}

.login-button {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
}
.login-button:hover {
    -fx-border-color: #009488;
    -fx-text-fill: #009488;
}

.main-content-background-pane {
    -fx-background-color: #3f3f3f;
}

.top-border-pane {
    -fx-border-width: 0px 0px 1px 0;
    -fx-background-color: #009488;
    -fx-border-color: black;
}

.left-border-pane {
    -fx-background-color: #009488;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: black;
}

.massage-field {
    -fx-background-color: #00e1ff;
    -fx-border-color: rgb(98, 0, 255);
    -fx-background-radius: 0;  
    -fx-border-radius: 0;
    -fx-border-width: 1px;      
}

.text-lable {
    -fx-text-fill: #ffffff;
    -fx-border-color: #c4f1ffe7;    
}

.transparent-rounded-button {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
}

.transparent-rounded-button:hover {
    -fx-border-color: #009488;
    -fx-text-fill: #009488;
}