.transparent-rounded-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: black;
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
}

/* Эффект при наведении */
.transparent-rounded-button:hover {
    -fx-background-color: gray;
    /* лёгкий белый фон */
    -fx-border-color: #00ffff;
    /* цвет рамки при наведении */
    -fx-text-fill: #00ffff;
    /* цвет текста при наведении */
}

.top-border-pane {
    -fx-background-color: #f2955a;
    -fx-border-color: black;
}

.left-border-pane {
    -fx-background-color: #f2a879;
}

.text-lable {
    -fx-text-fill: #00265f;
}